.header {
  height: 100px;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 75px;
}

.header-empires {
  display: flex;
  align-items: center;
  color: var(--color-text);
  text-decoration: none;
}

.header-empires-btn {
  background-color: transparent;
  color: var(--color-text);
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header-empires-btn.active {
  text-decoration: underline;
}

.header-empires-btn:hover {
  background-color: var(--color-text);
  color: var(--color-bg-1);
}

.header-empire-divider {
  margin: 0 5px;
}

.header-empire-planets {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-empire-planets-img {
  background-color: var(--color-text);
  display: flex;
  border-radius: 50%;
}
