:root {
  --color-bg-1: #0d0c0c;
  --color-bg-2: #383838;
  --color-text: #d1cbcb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg-1);
  min-height: 100vh;
}
